body {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.scroller {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
}

.title {
  font-size: 20px;
}
.main-text {
  font-size: 12px;
  font-weight: 200;
}

.stage {
  margin-top: 50px;
  margin-bottom: 50px;
}

.last-stage {
  margin-bottom: 800px!important;
}

.main-text {
  height: 200px;
}

.viz {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;

  height: 600px;
  width: 600px;
  background-color: #ddd;
}

.transparent {
  opacity: 0.2;
}
