body {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  background: #eee!important;
}

.scroller {
  position: relative;
  display: inline-block;
  width: 25%;
  top: 0px;
  z-index: 90;
}

.title {
  font-size: 22px;
  font-weight: bold;
}
.main-text {
  font-size: 14;
  font-weight: 200;
  height: 100px;
}

.stage {
  margin-top: 80px;
  height: 250px;
  margin-bottom: 50px;
}

.last-stage {
  height: 400px;
  margin-bottom: 200px!important;
}

.viz {
  display: inline-block;
  position: fixed;
  top: 40px;
  z-index: 1;
  margin-left: 0;
  height: 100%;
  width: 75%;
}

.transparent {
  opacity: 0.2;
}

.friends-section {
  width: 105%;
  opacity: 0.9;
}

.friends-title {
  font-size: 44px;
  position: relative;
  top: -500px;
  left: 200px;
  color: white;
}

.footer {
  background: white;
  height: 50px;
  font-size: 12px;
  padding-top: 15px;
}
